:root {
  /* ***** Colores ***** */
  --color-principal: #0077B1;
  --color-secundario: #D8ECB1;
  --color-acento: #EC7B67;
  --fondo: #EFFBFD;
  --fuente: #00297b;
  --blanco: #FFFFFF;

  /* ***** Fuentes ***** */
  --fuente-principal: 'Mulish', sans-serif;

  /* ***** Transición ***** */
  --transicion-btn: .3s linear all;
}

* {
  font-family: var(--fuente-principal);
}

/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem - 10px */
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}


@media (min-width: 375px) and (max-width: 412px) {
  body {
    padding: 1.6rem;
    font-size: 1.6rem;
  }
  
}